.header {
  background-color: #fff;
  padding: 8.5px 0;
}

.menu {
  gap: 32px;

  &__link {
    gap: 4px;
    font-size: 10px;
    font-weight: 600; 
    line-height: 1.1;
    text-decoration: none;
    color: $colorDark;
  }
}

.logo {
  display: block;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.mob-menu {
  outline: none;
  background: transparent;
  border: none;
  padding: 0; 

  svg {
    width: 18px;
    height: 12px;
  }
}