$bgColor: #F5F5F5;
$bgGrey: #DDDDDD;
$bgDarkGrey: #A8A8A8;
$colorDark: #383838;
$colorGrey: #424242;
$colorLightGrey: #5E5E5E;
$colorOrange: #F77833;
$colorDarkOrange: #DD4E00;
$colorCarrot: #FF9D29;
$colorLightGrey: #868686;
$fontFamily: 'OpenSans';

$smMedia: 575px;
$mdMedia: 767px;
